.md-RichEditor-root {
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 2px;
  position: relative;
  line-height: 1.4em;
  width: 100%;
  min-height: 335px;
  height: auto;
}
